<nav
  class="w-full h-16 flex items-center justify-center shadow-md fixed top-0 inset-x-0 z-50 backdrop-filter transition-all"
  [ngClass]="{
    'backdrop-blur-[2px] bg-(--opacity-bg)': isAwayFromTop(),
    'bg-gray-800': !isAwayFromTop()
  }"
>
  <div class="max-w-6xl w-full px-4 flex justify-between gap-4 relative">
    <a
      [routerLink]="'/dashboard/pokedex'"
      routerLinkActive="bg-red-700"
      class="flex-1 text-center text-white font-semibold py-2 rounded-md bg-red-500 hover:bg-red-400 transition-colors border-2 border-black flex items-center justify-center"
    >
      Pokédex
    </a>
    <a
      [routerLink]="'/dashboard/team'"
      routerLinkActive="bg-red-700"
      class="flex-1 text-center text-white font-semibold py-2 rounded-md bg-red-500 hover:bg-red-400 transition-colors border-2 border-black flex items-center justify-center"
    >
      Equipo Pokémon
    </a>
  </div>
</nav>
