<div class="flex items-center w-full max-w-xl mx-auto">
  <button
    class="mr-1 py-2 px-3.5 rounded-lg border border-gray-300 hover:ring-1 ring-blue-500 hover:text-blue-500 transition"
    (click)="searchPokemonByName(searchTxt.value)"
  >
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
  <input
    type="text"
    name="search"
    id="search"
    placeholder="Buscar Pokémon por nombre"
    #searchTxt
    (keyup.enter)="searchPokemonByName(searchTxt.value)"
    class="w-full py-2 px-2 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition placeholder-gray-400"
  />
</div>
