<div
  class="card bg-base-100 shadow-md hover:shadow-xl transition-shadow duration-300 rounded-2xl mx-auto border-2 overflow-hidden w-full"
>
  <figure class="bg-red-400 p-4 flex justify-center">
    <img
      [src]="pokemon().image"
      [alt]="pokemon().name"
      class="w-32 h-32 object-contain"
    />
  </figure>
  <div class="card-body">
    <h2 class="text-center text-lg sm:text-xl font-semibold capitalize">
      {{ pokemon().name }}
    </h2>

    <div class="flex flex-wrap justify-center gap-2 mt-2">
      @for(type of pokemon().types; track $index){
      <span
        [ngClass]="type ? types[type] : 'hidden'"
        class="badge badge-lg badge-outline px-4 py-2 text-sm capitalize text-white font-bold"
      >
        {{ type }}
      </span>
      }
    </div>

    <div class="card-actions justify-center mt-4">
      <ng-content></ng-content>
    </div>
  </div>
</div>
